 .u-section-1 {
  background-image: url("images/Блог.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 124px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-shadow: 9px 3px 8px rgba(0,0,0,0.55);
  margin: 29px auto 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 667px;
}

.u-section-2 .u-blog-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 547px;
  grid-gap: 22px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-image-1 {
  height: 484px;
  width: 535px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -463px 18px 0 587px;
}

.u-section-2 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 0 auto 0 587px;
}

.u-section-2 .u-text-2 {
  margin: 40px 1px 0 587px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: none;
  margin: 40px auto 0 587px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 431px;
    margin-right: 451px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -382px;
    margin-left: 387px;
  }

  .u-section-2 .u-metadata-1 {
    width: auto;
    margin-top: -81px;
    margin-right: 198px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 471px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 330px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-left: 167px;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
    margin-left: 25px;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 359px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: -2px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 618px;
}

.u-section-3 .u-video-1 {
  width: 640px;
  height: 360px;
  margin: 39px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 20px auto 59px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}