 .u-section-1 {
  background-image: none;
  min-height: 644px;
}

.u-section-1 .u-image-1 {
  width: 882px;
  left: 1px;
  right: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-group-1 {
  width: 163px;
  min-height: 101px;
  height: auto;
  margin: 39px auto 0 calc(((100% - 1140px) / 2) + 443px);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 14px 40px 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-group-2 {
  width: 163px;
  min-height: 101px;
  height: auto;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 443px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 57px auto 0 19px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -72px 40px 29px 20px;
}

.u-section-1 .u-group-3 {
  width: 163px;
  min-height: 101px;
  height: auto;
  margin: -173px calc(((100% - 1140px) / 2) + 427px) 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 57px auto 0 19px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -72px 40px 0 20px;
}

.u-section-1 .u-group-4 {
  width: 366px;
  min-height: 90px;
  height: auto;
  margin: -4px calc(((100% - 1140px) / 2) + -42px) 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 41px 0 19px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 8px -9px auto;
}

.u-section-1 .u-group-5 {
  width: 438px;
  min-height: 290px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px calc(((100% - 1140px) / 2)) 21px auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 673px;
  }

  .u-section-1 .u-image-1 {
    left: -129px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 443px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 30px;
    margin-left: calc(((100% - 940px) / 2) + 443px);
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 940px) / 2) + 427px);
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 940px) / 2) + -42px);
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 172px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 25px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 793px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 443px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 443px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 720px) / 2) + 427px);
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 720px) / 2) + -42px);
  }

  .u-section-1 .u-group-5 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 664px;
  }

  .u-section-1 .u-image-1 {
    width: 882px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 377px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2) + 377px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 540px) / 2) + 377px);
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 540px) / 2) + -42px);
  }

  .u-section-1 .u-group-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 177px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2) + 177px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 340px) / 2) + 177px);
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 340px) / 2) + -42px);
  }

  .u-section-1 .u-text-7 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 19px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 21px;
  }
} .u-section-2 {
  background-image: linear-gradient(#fef9e6, #f5d654);
}

.u-section-2 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-2 .u-group-1 {
  width: 387px;
  min-height: 372px;
  height: auto;
  margin: 171px auto 0 -75px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 186px;
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -120px auto 0 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 87px;
}

.u-section-2 .u-group-2 {
  width: 387px;
  min-height: 372px;
  height: auto;
  margin: -372px 362px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  width: 278px;
  height: 186px;
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -120px auto 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 48px auto 0;
}

.u-section-2 .u-group-3 {
  width: 387px;
  min-height: 372px;
  height: auto;
  margin: -372px -107px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-image-3 {
  width: 278px;
  height: 186px;
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -120px auto 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 87px;
}

.u-section-2 .u-group-4 {
  width: 1322px;
  min-height: 474px;
  height: auto;
  margin: 58px auto 60px -75px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-5 {
  width: 230px;
  min-height: 273px;
  height: auto;
  margin: 46px 520px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 8px 30px;
}

.u-section-2 .u-image-4 {
  width: 118px;
  height: 239px;
  margin: 0 auto;
}

.u-section-2 .u-group-6 {
  width: 230px;
  min-height: 273px;
  height: auto;
  margin: -273px 274px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 8px 30px;
}

.u-section-2 .u-image-5 {
  width: 118px;
  height: 239px;
  margin: 0 auto;
}

.u-section-2 .u-group-7 {
  width: 230px;
  min-height: 273px;
  height: auto;
  margin: -273px 30px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 8px 30px;
}

.u-section-2 .u-image-6 {
  width: 118px;
  height: 239px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -264px auto 0 30px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 35px auto 0 46px;
}

.u-section-2 .u-text-8 {
  margin: 51px 319px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: -21px 71px 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 103px 0 auto;
}

.u-section-2 .u-text-11 {
  margin: -64px 529px 0 577px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 0 auto 0 577px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 577px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: -50px 432px 0 auto;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 422px 0 auto;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -10px 178px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: 185px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: 185px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    height: 185px;
  }

  .u-section-2 .u-group-4 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 227px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 338px;
    margin-left: 386px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 386px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 386px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 307px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-2 {
    margin-right: 333px;
  }

  .u-section-2 .u-group-4 {
    width: 720px;
  }

  .u-section-2 .u-group-5 {
    margin-right: 490px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 228px;
    margin-left: 276px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 276px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 276px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 235px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 153px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 540px;
  }

  .u-section-2 .u-group-5 {
    margin-right: 310px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-8 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 138px;
    margin-left: 186px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 186px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 186px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 176px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
  }

  .u-section-2 .u-group-5 {
    margin-right: 110px;
  }

  .u-section-2 .u-group-6 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    margin-right: 107px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 38px;
    margin-left: 86px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 86px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 86px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 111px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 109px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 112px;
  }
}